html {
    background-image: url("nyancat.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    color: azure;
    background-color:rgba(233, 33, 252, 0.493);
    width: 80rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: monospace;

}

ul#category li {
    white-space: pre;
    text-wrap-mode: nowrap;
    white-space-collapse: preserve;
}
a:link {
  color: rgb(234, 0, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(145, 143, 253);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 213, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(0, 204, 255);
  background-color: transparent;
  text-decoration: underline;
}